# OpenRouteService API Key
# این فایل نمونه است — مقادیر واقعی را در .env قرار دهید
# دریافت کلید: https://openrouteservice.org/dev/#/signup
PUBLIC_ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjcyMmExNWFlOTJkZjQ4YTdiYTdlNWU1MzI5ZDg0MzYyIiwiaCI6Im11cm11cjY0In0=
